body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at top left, #7678ed, #89bd9e);
  font-family: "roboto", sans-serif;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.reloj {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.botones button {
  margin-right: 20px;
  margin-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

#inicio {
  background-color: #679436;
  border-color: #132a13;
}

#cancelar {
  background-color: #f94144;
  border-color: #c1121f;
}
