body {
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: radial-gradient(circle at top left, #7678ed, #89bd9e);
}

.contenedor {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50vh;
}

.reloj {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#inicio {
  background-color: yellowgreen;
}

#cancelar {
  background-color: red;
}
